@import "variables";
* {
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 600px) {
  
  .bluetop {
    color: white;
    background-color: lighten(blue, 10%);
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    img {
      margin-top: 10px;
      margin-bottom: 10px;
      border-radius: 50%;
      height: 150px;
      width: 150px;
      align-self: center;
      justify-self: center;
    }    
  }
  .textcontainer {    
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;  
    p {
      text-align: center;
      margin-top: 10px;
      margin-bottom: 10px;
    }    
  }

  .projects {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    img {
      height: 300px;
      width: 90%;
      margin-top: 15px;
      margin-bottom: 15px;
      border-radius: 25px;
      margin-left: 20px;
    }
    p {
      margin-top: 15px;
      margin-bottom: 15px;
      font-family: 'Enriqueta' ;
      font-size: 20px;
      margin-left: 20px;
    }
  }

  .linkbar {
    background-color: lighten(blue, 10%);
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
    img {
      height: 50px;
      width: 50px;
    }
  }
}



@media only screen and (min-width: 601px) {
  body {
    background-color: blue;
  }
  .bluetop {
    color: white;
    background-color: lighten(blue, 10%);
    padding-top: 50px;
    padding-bottom: 50px;
    
    display: flex;
    margin: auto;  
    justify-content: space-around;  
    img {    
      
      border-radius: 50%;
      height: 250px;
      width: 250px;     
    }
    p {
      text-align: center;            
    }  
  }
  .textcontainer {    
    display: flex;
    flex-direction: column;
    align-self: center;
    p {
      margin-top: 10px;
      margin-bottom: 10px;
    }    
  }
  .projects {
    padding-top: 50px;
    padding-bottom: 50px;
    display: grid;
    grid-template-areas: 
        "A B"
        "C D"
        "E F"
        "G H";    
    background-color: white;
    img {
      height: 300px;
      width: 400px;
      margin-top: 15px;
      margin-bottom: 15px;
      border-radius: 25px;
      margin-left: 20px;
    }
    p {
      margin-top: 15px;
      margin-bottom: 15px;
      font-family: 'Enriqueta' ;
      font-size: 20px;
      margin-left: 20px;
    }
  }
  #A {
    grid-area: A;
    justify-self: center;
  }
  #B {
    grid-area: B;
    justify-self: center;
  }
  #C {
    grid-area: C;
    justify-self: center;
  }
  #D {
    grid-area: D;
    justify-self: center;
  }
  #E {
    grid-area: E;
    justify-self: center;
  }
  #F {
    grid-area: F;
    justify-self: center;
  }
  #G {
    grid-area: G;
    justify-self: center;
  }
  #H {
    grid-area: H;
    justify-self: center;
  }

  .linkbar {
    background-color: lighten(blue, 10%);
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
    img {
      height: 50px;
      width: 50px;
    }
  }
}