.cvhead {
    background-color: lighten(black, 10%);
}
.subsection {
    background-color: darken(grey, 40%);
    color: white;
}
.listcontainer {
    background-color: lighten(grey, 10%);
    img {
        height: 50px;
        width: 50px;
    }
}
.gridmaker {
    display: grid;
    height: 400px;
    width: 100%;
    grid-template-areas: 
        "1 2 3"
        "4 5";
}
.gridone {
    grid-area: 1;
    width: 20%;
}
.gridtwo {
    grid-area: 2;
}
.gridthree {
    grid-area: 3;
}
.gridfour {
    grid-area: 4;
}
.gridfive {
    grid-area: 5;
}
