
.cvhead {
    background-color: lighten(black, 10%);
    color: white;
    display: flex;
    justify-content: space-around;
    height: 200px;
    img {
        height: 70px;
        width: 70px;
        position: absolute;                
        border-radius: 50%;                
    }
}
.profilesection {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    width: 33%;
    align-items: center;
    a {
        margin-top: 120px;
        justify-self: center;
    }
    img {
        margin-top: 20px;
    }
}
.identifier {
    display: flex;
    flex-direction: column;
    width: 33%;
}
.personaldata {
    display: flex;
    flex-direction: column;
    width: 34%;
}

.subsection {
    background-color: darken(grey, 20%);
    color: white;
}
.listcontainer {
    background-color: lighten(grey, 10%);
    img {
        height: 50px;
        width: 50px;
    }
}
.gridmaker {
    display: grid;
    height: 400px;
    width: 100%;
    grid-template-areas: 
        "1 2 3"
        "4 5";
}
.gridone {
    grid-area: 1;
    width: 20%;
}
.gridtwo {
    grid-area: 2;
}
.gridthree {
    grid-area: 3;
}
.gridfour {
    grid-area: 4;
}
.gridfive {
    grid-area: 5;
}
