* {
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 600px) {
  .bluetop {
    color: white;
    background-color: #3333ff;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
  }
  .bluetop img {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    align-self: center;
    justify-self: center;
  }

  .textcontainer {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .textcontainer p {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .projects {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .projects img {
    height: 300px;
    width: 90%;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 25px;
    margin-left: 20px;
  }
  .projects p {
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: "Enriqueta";
    font-size: 20px;
    margin-left: 20px;
  }

  .linkbar {
    background-color: #3333ff;
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .linkbar img {
    height: 50px;
    width: 50px;
  }
}
@media only screen and (min-width: 601px) {
  body {
    background-color: blue;
  }

  .bluetop {
    color: white;
    background-color: #3333ff;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    margin: auto;
    justify-content: space-around;
  }
  .bluetop img {
    border-radius: 50%;
    height: 250px;
    width: 250px;
  }
  .bluetop p {
    text-align: center;
  }

  .textcontainer {
    display: flex;
    flex-direction: column;
    align-self: center;
  }
  .textcontainer p {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .projects {
    padding-top: 50px;
    padding-bottom: 50px;
    display: grid;
    grid-template-areas: "A B" "C D" "E F" "G H";
    background-color: white;
  }
  .projects img {
    height: 300px;
    width: 400px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 25px;
    margin-left: 20px;
  }
  .projects p {
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: "Enriqueta";
    font-size: 20px;
    margin-left: 20px;
  }

  #A {
    grid-area: A;
    justify-self: center;
  }

  #B {
    grid-area: B;
    justify-self: center;
  }

  #C {
    grid-area: C;
    justify-self: center;
  }

  #D {
    grid-area: D;
    justify-self: center;
  }

  #E {
    grid-area: E;
    justify-self: center;
  }

  #F {
    grid-area: F;
    justify-self: center;
  }

  #G {
    grid-area: G;
    justify-self: center;
  }

  #H {
    grid-area: H;
    justify-self: center;
  }

  .linkbar {
    background-color: #3333ff;
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .linkbar img {
    height: 50px;
    width: 50px;
  }
}
ul {
  list-style-type: square;
}

.cvhead {
  background-color: #1a1a1a;
  color: white;
  display: flex;
  justify-content: space-around;
  height: 200px;
}
.cvhead img {
  height: 120px;
  width: 120px;
  position: absolute;
  border-radius: 50%;
}

.profilesection {
  display: flex;
  flex-direction: column;
  width: 33%;
  padding-left: 50px;
  padding-top: 20px;
  justify-items: space-between;
}
.profilesection img {
  margin-top: 20px;
  padding-top: 20px;
}

.identifier {
  display: flex;
  flex-direction: column;
  width: 33%;
  align-items: flex-start;
  font-size: 30px;
  padding-top: 50px;
  padding-right: 20px;
}

.personaldata {
  display: flex;
  flex-direction: column;
  width: 34%;
  align-items: flex-start;
  font-size: 20px;
}
.personaldata * {
  margin-top: 10px;
}

.subsection {
  background-color: #4d4d4d;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20px;
}

.listcontainer {
  background-color: #e6e6e6;
  height: 150px;
  width: 100%;
  font-size: 20px;
  padding-top: 50px;
}
.listcontainer img {
  height: 90px;
  width: 90px;
}

.gridmaker {
  display: grid;
  height: 300px;
  width: 100%;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto auto;
  justify-content: space-around;
  align-items: space-around;
  padding-bottom: 20px;
}

.gridone {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
}

.gridtwo {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
}

.gridthree {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
}

.gridfour {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
}

.gridfive {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 3;
  grid-column-end: 4;
}

/*# sourceMappingURL=main.css.map */
